<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyApplication.Properties.Settings.AbodaDBConnectionString"  connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BarakatyFoodsDB;Integrated Security=true"   providerName="System.Data.SqlClient" />
    <!--<add name="MyApplication.Properties.Settings.AbodaDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BarakatyFoodsDB;Integrated Security=false;user=sa;password=sh2008" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="dbconnection" value="server=.\SQLEXPRESS;DataBase=BarakatyFoodsDB;Integrated security = true" />
    <!--<add key="dbconnection" value="server=.\SQLEXPRESS;DataBase=BarakatyFoodsDB;Integrated security = false;user=sa;password=sh2008" />-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>